<!--引入面包屑组件-->
<pro-header style="position:relative">
    <ng-template #tab  >
        <nz-tabset *ngIf="tabShow" style="position:relative;left: 70%;"  [nzSize]="'default'" [nzSelectedIndex]="0">
            <nz-tab><ng-template #nzTabHeading><a [routerLink]="['rolemenber', id]">角色成员</a></ng-template></nz-tab>
            <nz-tab><ng-template #nzTabHeading><a [routerLink]="['funcper', id]">功能权限</a></ng-template></nz-tab>
            <nz-tab><ng-template #nzTabHeading><a [routerLink]="['entity', id]">实体权限</a></ng-template></nz-tab>
            <nz-tab><ng-template #nzTabHeading><a [routerLink]="['field', id]">数据权限</a></ng-template></nz-tab>
            <nz-tab><ng-template #nzTabHeading><a [routerLink]="['datarang', id]">字段范围</a></ng-template></nz-tab>
        </nz-tabset>
    </ng-template>
</pro-header>


<div class="ui-g">
    <div class="ui-g-3">
        <p-card  [style]="{width: '100%'}">
            <app-tree [initDate] = "treedata" [searchTitle] = "searchTitle"  [itemsData]="treemenus"  (Select)="TreeSelect($event)"   (MenuSelect)="RightSelect($event)"   (dropEvent)="dropEvent($event)" (serchValue)="searchVal($event)"></app-tree>
        </p-card>
    </div>
    <div class="ui-g-9">
        <p-card  *ngIf="tabShow">
            <router-outlet></router-outlet>
        </p-card>
    </div>
</div>

