<!--引入面包屑组件-->
<pro-header></pro-header>

<nz-card [nzBordered]="false">
    <!--  form表单搜索 -->
    <form nz-form (ngSubmit)="search()" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>员工姓名</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="emp.name" name="name" [nzSize]="'large'" [nzPlaceHolder]="'员工姓名'" nzId="name"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>员工编号</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="emp.numbering" name="numbering" [nzSize]="'large'" [nzPlaceHolder]="'角色编号'" nzId="numbering"></nz-input>
                    </div>
                </div>
            </div>

            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>性别</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="emp.gender"  name="gender" [nzSize]="'large'" [nzPlaceHolder]="'性别'" nzId="gender">
                            <nz-option  *ngFor="let i of gender;" [nzLabel]="i.value" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>

            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>员工状态</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="emp.empType"  name="gender" [nzSize]="'large'" [nzPlaceHolder]="'员工状态'" nzId="gender">
                            <nz-option  *ngFor="let i of empType;" [nzLabel]="i.value" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>员工职级</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="emp.emprank" name="emprank"  [nzSize]="'large'" [nzPlaceHolder]="'员工职级'" nzId="emprank">
                            <nz-option  *ngFor="let i of emprank;" [nzLabel]="i.value" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>基本岗位</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="emp.emppost" name="emprank"  [nzSize]="'large'" [nzPlaceHolder]="'基本岗位'" nzId="emppost">
                            <nz-option  *ngFor="let i of emppost;" [nzLabel]="i.value" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>直接主管</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="emp.supervisor" name="emprank"  [nzSize]="'large'" [nzPlaceHolder]="'直接主管'" nzId="supervisor">
                            <nz-option  *ngFor="let i of supervisor;" [nzLabel]="i.value" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>主机构</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="emp.organization" name="emprank"  [nzSize]="'large'" [nzPlaceHolder]="'主机构'" nzId="organization">
                            <nz-option  *ngFor="let i of organization;" [nzLabel]="i.value" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                <button nz-button type="reset" (click)="getData()" [nzSize]="'large'" class="mx-sm">重置</button>
                <a (click)="expandForm=!expandForm">
                    {{expandForm ? '收起' : '展开'}}
                    <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                </a>
            </div>
        </div>
    </form>

    <!-- 监听列表组件，如果点击了则告诉弹出框组件，打开弹出框,监听addCreat方法-->
    <app-list (addCreat)="addHandler($event)"  (buttonData)="buttonDataHandler($event)"  (pageNumber)="monitorHandler($event)"  (deleatData)="deleatData($event)" (selectedRow)="selectedRow($event)"  (isActive)="isActive($event)"  [initDate] = "data" [headerDate] = "headerData"  [moreData] = "moreData"></app-list>
</nz-card>
<!--引入列表组件-->



<!--弹出框信息-->
<nz-modal [nzVisible]="modalVisible"  [nzWidth]="1024" [nzTitle]="'新建角色'"  [nzConfirmLoading]="loading" [nzContent]="modalContent"
          (nzOnCancel)="modalVisible=false" (nzOnOk)="save()">


    <ng-template #modalContent>
        <div nz-row [nzGutter]="24">
            <!-- 主要信息 -->
            <div *ngIf="ifshow">
                <div nz-col [nzSpan]="12" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label class="alignment"><label for="no">员工姓名</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-input [(ngModel)]="emp.name" name="name" [nzSize]="'large'" [nzPlaceHolder]="'员工姓名'" nzId="name"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="12" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label><label>性别</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-select style="width:100%" [(ngModel)]="emp.gender"  name="gender" [nzSize]="'large'" [nzPlaceHolder]="'性别'" nzId="gender">
                                <nz-option  *ngFor="let i of gender;" [nzLabel]="i.value" [nzValue]="i.key"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="12" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label><label>员工职级</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-select style="width:100%" [(ngModel)]="emp.emprank" name="emprank"  [nzSize]="'large'" [nzPlaceHolder]="'员工职级'" nzId="emprank">
                                <nz-option  *ngFor="let i of emprank;" [nzLabel]="i.value" [nzValue]="i.key"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="12" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label><label>直接主管</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-select style="width:100%" [(ngModel)]="emp.supervisor" name="supervisor"  [nzSize]="'large'" [nzPlaceHolder]="'直接主管'" nzId="supervisor">
                                <nz-option  *ngFor="let i of supervisor;" [nzLabel]="i.value" [nzValue]="i.key"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 基本信息 -->
            <div *ngIf="!ifshow">
                <div nz-col [nzSpan]="12" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label class="alignment"><label for="no">入职日期</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-datepicker [(ngModel)]="emp.entryDate" name="entryDate" [nzSize]="'large'" [nzPlaceHolder]="'入职日期'" nzId="entryDate" class="d-block"></nz-datepicker>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="12" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label class="alignment"><label for="no">离职日期</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-datepicker [(ngModel)]="emp.departure" name="departure" [nzSize]="'large'" [nzPlaceHolder]="'离职日期'" nzId="departure" class="d-block"></nz-datepicker>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="ng-star-inserted" style=" text-align: right;">
            <button (click)='basicinfo()' class="ant-btn ant-btn-primary ant-btn-lg ng-star-inserted" ng-reflect-nz-type="primary" ng-reflect-nz-size="large" ng-reflect-nz-loading="false">
<span>完善其他信息</span></button>
        </div>
    </ng-template>



</nz-modal>


