ul.tree-view, ul.tree-view ul {
  list-style: none;
}

ul.tree-view .text-field {
  cursor: pointer;
}

ul.tree-view i {
  padding: 0 5px;
}

ul.tree-view .check-box {
  width: 24px;
  height: 18px;
  border-radius: 8px;
}

ul.tree-view .selectItem {
  background-color: #316ac5;
}
