<div class="content__title">
    <nz-breadcrumb [nzSeparator]="'>'">
        <nz-breadcrumb-item>
            首页
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a href="javascript:;">日志管理</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a href="javascript:;">{{logName}}的历史记录</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</div>

<!-- 日志详情 -->
<div class="ui-g">
    <div class="ui-g-6">
        <nz-card nzTitle="基本信息" [nzBordered]="false">
                你好啊
        </nz-card>
    </div>
    <div class="ui-g-6">
        <nz-card nzTitle="时间轴信息" [nzBordered]="false">
            时间轴信息
        </nz-card>
    </div>
</div>
